 
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


a, button {
	outline: none;
}

a {
	color: #566473;
	text-decoration: none;
}

a:hover, a:focus {
	color: #34495e;
}

section {
 	text-align: center;
}

h1{
	font-size:72px;
margin: 0;	} 
/* -----------------------------------------------------------------------------

  BOX SIZING RESET
  
----------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Arial, sans-serif;
  color: #00204f;
  background-color: #00204f;
}

/*************************************************/
/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
#large-header {
  background:#00204f;
}
/*--------------------------------------*/
.main-home{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding:0px;
	z-index:10002;
	background:#00204f;	
}

.fade-out {
    -webkit-animation: fade-out .5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    opacity: 1;
 
}

.four{
	-webkit-animation-delay:2s;
 }
 
 @-webkit-keyframes fade-out {
	0% { opacity: 1; -webkit-transform: scale(1);}
	100% {-webkit-transform: scale(.1); opacity: 0;}
} 
.circle-idu-home{
	position: absolute;
		z-index:10003;

 opacity:1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	flex-wrap:wrap;
	cursor:pointer;
	width: 480px;
    height: 240px;
	top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);	

 }
.circle-center-home{
    border-radius: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
     -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
 
    background: #00ffca;
 	padding-top: 0px;
	width:200px;
	height:200px;
  color: #00204f;
  
    -webkit-animation: fade-out-circle .5s linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
		left:50%;
  
	-webkit-animation-delay:3s;
				
} 
.circle-idu-home  h3   {
		display:block;
    margin: 5px 0 5px 15px;
    color: #ffffff;
    text-align: left;
    font-size: 21px;
		-webkit-animation: fade-out-h3 .5s linear;
    -webkit-animation-fill-mode: forwards;
		-webkit-animation-delay:3s;
    -webkit-animation-iteration-count: 1;
}
 @-webkit-keyframes fade-out-circle {
	0% { opacity: 1; 
		-webkit-transform: scale(1);  }
	100% {
			-webkit-transform: scale(.1); 
			opacity: .0;  }
}  
 @-webkit-keyframes fade-out-h3 {
	0% { opacity: 1; 
		-webkit-transform: scale(1);  }
	100% {
			-webkit-transform: scale(.1); 
			opacity: .0;  }
} 
/*--------------------------------------*/
.main{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding:20px;
}
.nav-brand {
	width:70px;
	height:70px;
	position:relative;
	cursor:pointer;
}
.nav-brand button.c-button{
    width: 70px;
    height: 70px;
    border: 0;
    background: none;
    outline: none;
		cursor:pointer;
		
}
.nav-brand span{
	width:30px;
	height:30px;
	background:#00ffca;
	color:#00204f;
	font-weight:600;
	text-align:center;
	display:block;
  border-radius: 100%;
  line-height: 30px;	
	position:absolute;
}
.nav-brand span:nth-child(1){
	left:0;
	top:0;
}
.nav-brand span:nth-child(2){
	left:40px;
	top:0;
}
.nav-brand span:nth-child(3){
	left:0;
	top:40px;
}

/* -----------------------------------------------------------------------------

  SLIDE AND PUSH MENUS COMPONENT
  
----------------------------------------------------------------------------- */
/**
 * Menu overview.
 */
.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #00ffca;
	padding:60px 0px 20px 0px;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}
.c-menu  h1{
	font-size:72px;
    margin: 0;	
	margin-left:30px;
}
.c-menu h4{
	    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
	margin-left:30px;
}
.c-menu__items {
  list-style: none;
  margin:40px 0 0;
	padding: 0 30px;
}
.c-menu--slide-right,
.c-menu--slide-left {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  width: 350px;
 }

.c-menu--slide-right .c-menu__item,
.c-menu--slide-left .c-menu__item {
  display: block;
  text-align: center;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}
.c-menu--slide-right .c-menu__item:first-child,
.c-menu--slide-left .c-menu__item:first-child {
  border-top: none;
}
.c-menu--slide-right .c-menu__item:last-child ,
.c-menu--slide-left .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--slide-right .c-menu__link,
.c-menu--slide-left .c-menu__link {
		display: block;
    padding: 0px 0 0 30px;
     text-align: left;
    font-size: 24px;
		color:#00204f;
	    width: 100%;
			position:relative;

}
.c-menu--slide-left .c-menu__link:before{
	content:". : ";
	color:#ffffff;
	position:absolute;
	left:0;
	
}
.c-menu--slide-right .c-menu__close ,
.c-menu--slide-left .c-menu__close {
		display: block;
		padding: 12px 24px;
		/* width: 100%; */
		right: 10px;
		top: 10px;
		position: absolute;
		top: 20px;
		right: 20px;
		border: 0;
		outline: none;
		background:url("../img/close-blue.png") no-repeat center;
		text-indent:-9999999px;
		cursor:pointer;		
}

button.d-button{
    display: block;
    padding: 6px 0px;
    color: #fff;
    text-align: left;
    font-size: 24px;
    color: #00204f;
    background: none;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-left: 30px;
		cursor:pointer;
}

/* Effect 5: same word slide in */
.cl-effect-5 a {
overflow: hidden;
    height: 40px;
    width: 100%;
    line-height: 40px;

}

.cl-effect-5 a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	    width: 100%;

}

.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
/* Effect 10: reveal, push out */
a.prison{
	  color: #00ffca;
    background: #00204f;
      font-size: 21px;

}
.cl-effect-10  {
	position: relative;
	z-index: 1;
	margin-top:30px;
}

.cl-effect-10 a {
	overflow: hidden;
	margin: 0 15px;
}

.cl-effect-10 a span {
	display: block;
	padding: 10px 20px;
	background: #00204f;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #00204f;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}
/**
 * Slide/Push Menu Left.
 */
.c-menu--slide-left  {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media all and (min-width: 320px) {
  .c-menu--slide-left  {
    -webkit-transform: translateX(-350px);
        -ms-transform: translateX(-350px);
            transform: translateX(-350px);
  }
}
/**
 * Slide/Push Menu Right.
 */
.c-menu--slide-right {
padding-left: 30px;	
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
@media all and (min-width: 320px) {
  .c-menu--slide-right {
    -webkit-transform: translateX(350px);
        -ms-transform: translateX(350px);
            transform: translateX(350px);
  }
}

.c-menu--slide-right.is-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.c-menu--slide-left.is-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
          transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
/**********************/
 
.project-idu{
	width: 450px;
	position: absolute;
	z-index:1001;
	color: #00204f;
	background:rgb(241, 240, 240);
	padding: 10px;
	border-radius: 10px;
	display: none;
	top: 5%;
	right: 5%;	
}
.project-idu .line  {
    width: 269px;
    height: 5px;
    border-bottom: 2px solid #c7ced8;
    -webkit-transform: translateY(22px) translateX(1px) rotate(-48deg);
    position: absolute;
    top: 114px;
    left: -223px;
}
.text{
 	color: #00204f;
 }

 .text h2 {
	 padding-left: 20px;
	font-size: 32px;
	font-weight: 900;
	margin: 10px 0;
 }
 
.text ul li {
	font-size:14px;
	margin-bottom:5px;
}
 
/***************/

/****************/
 
.corto,
.circle{
	border-radius: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  color: #00204f;
    text-transform: uppercase;
    font-weight: 700;
  text-align: center;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
    padding-top: 0px;		
		  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
	cursor:pointer;
}
.circle.future{
	width: 70px;
	height: 70px;
	background:#00ffca;
	font-size: 14px;
	top: 27%;
	left: 32%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.circle.future:hover{
	width:90px;
height:90px;

}
.circle.project{
    width: 90px;
    height: 90px;
    background: #00ffca;
    font-size: 14px;
    top: 85%;
    left: 31%;

  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;  	
}
.circle.project:hover{
	width:110px;
height:110px;

}
.circle.team{
	width: 68px;
	height: 68px;
	background:#d1d3d4;
	color: #00204f;
	font-size: 12px;
	top: 75%;
	left: 27%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.circle.team:hover{
	width:80px;
	height:80px;
}
.corto.uno{
	width:110px;
	height:110px;
	top: 78%;
	left: 34%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.corto.dos{
	width:110px;
	height:110px;	
    top: 21%;
    left: 25%;
			-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease; 	
}
.corto.tres{
	width:110px;
	height:110px;	
    top: 16%;
    left: 67%;
			-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease; 	
}
.corto.cuatro{
	width:110px;
	height:110px;
    top: 45%;
    left: 80%;
			-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease; 	
} 
.corto.seis{
	width:110px;
	height:110px;
	top: 65%;
	left: 19%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
 .corto.poster {
	top: 47%;
	left: 31%;
	color: #00ffca;
	border: 2px solid #ffffff;
	width: 90px;
	height: 90px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease; 	
}
 .corto.poster:hover{
	width: 110px;
	height: 110px;
 } 
  .corto.about {
    top: 19%;
    left: 44%;
    color: #00ffca;
    border: 2px solid #ffffff;
    width: 130px;
    height: 130px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
 .corto.about:hover{
	width: 150px;
	height: 150px;
 } 
  .corto.participants {
    top: 75%;
    left: 63%;
    color: #00ffca;
    border: 2px solid #ffffff;
    width: 130px;
    height: 130px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease; 		
}
 .corto.participants:hover{
	width: 150px;
	height: 150px;
 }
.corto .over p,
.corto .over h4{
	margin:0;
		-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease; 	
}
.corto .over h4{
	font-weight:400;
 
}
.corto.uno:hover,
.corto.dos:hover,
.corto.tres:hover,
.corto.seis:hover,
.corto.cuatro:hover {
	width:120px;
	height:120px;
}
.corto .over {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
flex-wrap:wrap;	
  	opacity:1;
		background:rgba(0, 255, 202, 0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; 	
 
}
.corto:hover .over {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;	
 		background:rgba(0, 255, 202, 0.68);
	color: #00204f;
	border-radius:100%;
	text-align:center;
	width:120px;
	height:120px;
	z-index:1000;
	opacity:1;
 
}
.corto img{
	position:absolute;
	width:100%;
	z-index:100;
	  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; 	
 }
 
.circle-prision-big.active > div,
.corto.active > div,
.circle.active > div{
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.circle-prision-big.active > div:before,
.corto.active > div:before,
.circle.active > div:before{
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
 
.circle-prision-big.active ~ .content-modal,
.corto.active ~ .content-modal,
.circle.active ~ .content-modal {
  pointer-events: auto;
  visibility: visible;
}

.circle-prision-big.active ~ .content-modal > div > div,
.corto.active ~ .content-modal > div > div,
.circle.active ~ .content-modal > div > div  {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}
 
 .content-modal {
  position: fixed;
  top: 0;
  left: 0;
    z-index: 100;	
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content-modal > div {
    width:100vw;
  height: 100vw;

  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;  
  color: #FEFEFE;
  background: rgba(0, 255, 202, 0.7);
  border-radius: 100%;

  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
 
.circle-prision-big.active ~ .content-modal > div,
.corto.active ~ .content-modal > div,
.circle.active ~ .content-modal > div{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition-duration: .75s;
	transition-duration: .75s;
	width: 100vw;
	height: 100vw;
	border-radius:0;

}
.content-description {
	width:800px;
	min-height:400px;
	border-radius:10px;
	background:#d1d3d4;
	padding:40px;
	color:#00204f;
	position:relative;
}
.content-description.prision {
 	background:#00204f;
	padding:40px;
	color:#fff;
	position:relative;
}
.content-description.ccc{
	height:550px;
}
.content-description .txt {
	height: 400px;
}
.content-description button.close{
	width: 25px;
	height: 25px;	
	position: absolute;
	top: 20px;
	right: 20px;
	border: 0;
	outline: none;
	cursor:pointer;
	background:url("../img/close-white.png") no-repeat center;
	text-indent:-9999999px;
	-webkit-transition: all 0.2s ease 0.2s;
	transition: all 0.2s ease 0.2s;		
}
.content-description button.close:hover{
	  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
					background:url("../img/close-blue.png") no-repeat center;

}
/**********************/

.circle-idu {
	    position: absolute;
 
		display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
		  top: 80%;
  left: 80%;
  cursor:pointer;
    -webkit-transition: all  1s linear;
    transition: all  1s linear;	
}
.circle-idu  #show  {
	display:none;
}

.circle-idu.big  #show{
	display:block;
	width:100%;
	height:200px;
	position:absolute;
	top:0;
	left:0;
	z-index:10000;
	background:transparent;
}
 .circle-idu.big{
 
		  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.circle-center {
    border-radius: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
     -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 40px;
    height: 40px;
    background: #00ffca;
		
		animation: pulse 2s infinite;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;  
}
.circle-center{
	font-size:14px;
	font-weight:800;
 
  }
 .circle-idu.big .circle-center {
	width:200px;
	height:200px;
	line-height:200px;
	font-size:72px;
  font-weight: 600;	
  animation: none;

}
.circle-idu-home.big .circle-center h1 {
	font-size:72px;
  font-weight: 600;	
	display:block;
 
}

 
.circle-prision{
	border-radius: 100%;
	border:2px solid #fff;
  position: absolute;
  margin: 0;
  padding: 0;
  color: #00ffca;
    text-transform: uppercase;
    font-weight: 700;
  text-align: center;
 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
    padding-top: 0px;		
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
	cursor:pointer;
 
	width:90px;
	height:90px;
	background:#00204f ;
  font-size: 14px;
  top: 40%;
  right: 18%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;  	
}
.circle-prision:hover{
	width:120px;
	height:120px;
 }

.circle-prision.big{
	font-size:32px;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
	cursor:default;

}
.circle-idu .idu{
	overflow: hidden;
  height: 40px;
  padding: 0px;

	display:none;
		    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}
 .circle-idu.big .idu {
	 	display:block;

     margin: 5px 0 5px 15px;
    color: #ffffff;
    text-align: left;
    font-size: 21px;
		    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}
.content__container__list {
  margin-top: 0;
  padding-left:  0px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}
.circle-idu-home .idu .content__container__list{
	margin-left: 20px;
}
.circle-idu-home .idu .content__container__list .content__container__list__item {
    line-height: 40px;
    margin: 0;
    color: white;
    font-size: 24px;
}
@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%,33.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
 
  45.98%,66.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
 
  79.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


/********************************/
 
.content-news-clusters a.pulse {
	position:absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00ffca;
  cursor: pointer;
  color:#00204f;
	box-shadow: 0 0 0 rgba(0,255,202, 0.6);
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;	
	
}
.content-news-clusters a.pulse:hover {
  animation: pulse 2s infinite;
}
.content-news-clusters a:nth-child(1){
    left: 31%;
    top: 50%;
}
.content-news-clusters a:nth-child(2){
	left:60%;
	top:30%;
}
.content-news-clusters a:nth-child(3){
    left: 35%;
    top: 65%;
}
.content-news-clusters a:nth-child(4){
    left: 31%;
    top: 43%;
}
.content-news-clusters a:nth-child(5){
    left: 64%;
    top: 52%;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,255,202, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 15px rgba(0,255,202, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0,255,202, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0,255,202, 0.4);
    box-shadow: 0 0 0 0 rgba(0,255,202, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(0,255,202, 0);
      box-shadow: 0 0 0 15px rgba(0,255,202, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0,255,202,, 0);
      box-shadow: 0 0 0 0 rgba(0,255,202, 0);
  }
}
/********************************/
form{
	margin-bottom:30px;
    display: inline-block;	
}
label{
	font-size: 14px;
    font-weight: 700;
	text-transform:uppercase;
	font-family: 'Lato', Arial, sans-serif;
}
input{
    width: 100%;
    border-radius: 15px;
    outline: none;
    border: 2px solid #fff;
    background: #00ffca;
    margin: 5px 0 10px;
		padding:5px 10px;
	font-size: 14px;
    font-weight: 400;
color:#00204f;
	font-family: 'Lato', Arial, sans-serif;		
}
.button{
    float: right;
}
.button button{
	border-radius: 15px;
	padding: 5px 27px;
	border: 2px solid #00204f;
	background: #00ffca;
	font-family: 'Lato', Arial, sans-serif;
	text-transform:uppercase;
}
.button button:disabled{
	color:#00204f;
}

/* Nav */
.cortometrajes h2 {
	margin:0 0 20px;
}
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	color: #00204f;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 35px;
	font-size: 21px;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 18px;
}

.tabs nav li.tab-current a {
	color: #00204f;
	font-weight:900;
}

.tabs nav a:focus {
	outline: none;
}

/* Content */
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 20px;
	max-width: 1200px;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
}

.content-wrap section p {
    margin: 0;
    padding: 0.75em 0;
    color: rgb(0, 32, 79);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: left;max-height: 400px;
}
.content-wrap section a.pdf{
    position: absolute;
    bottom: -23px;
    left: 20px;
    background: url(../img/PDF_Icon.png) no-repeat left center transparent;
    padding-left: 40px;
    line-height: 40px;
    color: #00204f;
    font-weight: bold;
}
/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
}

/*****************************/
/* Triangle and line */
/*****************************/

.tabs-style-linetriangle nav a {
	overflow: visible;
	border-bottom: 1px solid #00204f;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.tabs-style-linetriangle nav a span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
}

.tabs-style-linetriangle nav li.tab-current a:after, 
.tabs-style-linetriangle nav li.tab-current a:before {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	border: solid transparent;
	content: '';
	pointer-events: none;
}

.tabs-style-linetriangle nav li.tab-current a:after {
	margin-left: -10px;
	border-width: 10px;
	border-top-color: #d1d3d4;
}

.tabs-style-linetriangle nav li.tab-current a:before {
	margin-left: -11px;
	border-width: 11px;
	border-top-color:#00204f;;
}

@media screen and (max-width: 58em) {
	.tabs-style-linetriangle nav {
		font-size: 0.6em;
	}
}

/*****************POSTERS****************/
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 500px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 500px;
   text-align: center;
  line-height: 300px;
}
#slider ul li img{
	height:100%;
	width:auto;
}
a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 10px;
  width: 30px;
  height: 30px;
  text-indent:-99999px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, 
a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  background:url("../img/arrow-left-gray.png") no-repeat center;
 }

a.control_next {
  right:  0px;
  background:url("../img/arrow-right-gray.png") no-repeat center;;
}
 
/************************/
.content-news-clusters.hide,
.cortometrajes.hide,
.circle-center.hide,
.circle-prision.hide,
.circle.hide,
.content-news-clusters a.hide {
	visibility:none;
	display:none;
}

/* .circle.hide,
.content-news-clusters a.hide{
   -webkit-animation: fade-out .5s ease-in;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fade-out {
100% {-webkit-transform: scale(0.4); opacity: 0;}
}
  */
	
	footer{
		    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 15px;
	}